<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/places"> </ion-back-button>
    </ion-buttons>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
  <ion-card *ngFor="let photo of photos">
    <img [src]="photo.thumbnailUrl"/>
    <ion-card-content>
      <p>{{photo.title}}</p>
      <p>{{photo.albumId}}</p>:<a [href]="photo.url" target="_blank">{{photo.url}}</a>
     </ion-card-content>
  </ion-card>
 </ion-list>
</ion-content>